/*VARIABLES COLORES Y FUENTE*/
:root{
    --blue: #79A9F5;
    --light: #f8f9fa;
    --dark: #212529;
    --oswald: "Oswald", sans-serif;
}

/*AJUSTE PARA EL CALCULO DEL TAMAÑO DE LOS ELEMENTOS*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*DECLARAMOS QUE TODA LA PAGINA USARA NUESTRA FUENTE*/
html {
    font-family: var(--oswald);
}

/*DEFINIMOS ESTILOS GENERALES PARA EL BODY Y EL POSITION RELATIVE, PARA UBICAR LA IMAGEN DE FONDO*/
body {
    position: relative;
    margin: 0;
    font-size: 1.6rem;
    line-height: 1.15;
    background-color: var(--blue);
    color: var(--dark);
}

/*DEFINIMOS ESTILOS PARA NUESTRA IMAGEN DE FONDO*/
.fondo{
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    z-index: -1;
}

/*MARGEN A LOS ENCABEZADOS Y PARRAFOS SOLO ARRIBA Y ABAJO*/
h1,h2,h3,p{
    margin: .5rem 0;
}

/*DEFINIMOS ESTILO GENERAL PARA LOS ENLACES Y SU HOVER*/
a{
    padding: 1rem;
    text-decoration: none;
    color: var(--light);
    border-radius: .2rem;
}
a:hover{
    background-color: rgba(70, 120, 200, 5);
}

/*DEFINIMOS ESTILO GENERAL PARA LAS IMAGENES*/
img{
    width: 15rem;
    height: auto;
    margin-right: 2rem;
}

/*ESTILOS GENERALES PARA LAS SECCIONES*/
section{
    margin: 2rem;
    padding: 2rem;
    border-radius: .2rem;
    background-color: var(--light);
}

/*ESTILOS GENERALES PARA LAS NAVEGACIONES TANTO SUPERIOR COMO REDES*/
.navegacion{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 1rem 0;
    border-bottom: var(--light) solid .1rem;
    border-top: var(--light) solid .1rem;
}
.desplegable { /*ESTILOS PARA EL BOTON DE DESPLEGAR*/
    background-color: transparent; 
    border: none;
    border-bottom: var(--light) solid .1rem;
    border-top: var(--light) solid .1rem;
    color: white; 
    font-size: 24px;
    font-weight: bold; 
    display: none; /* Oculto por defecto */
}
.desplegable:hover{
    cursor: pointer;
    background-color: rgba(70, 120, 200, 5);
}

/*ESTILOS PARA FIJAR LA BARRA CUANDO DESAPARECE DE LA PANTALLA*/
.fija{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    margin: 0;
    background-color: var(--blue);
    border-top: none;
}

/*ESTILOS PARA UN CONTENEDOR QUE ACOMODE LOS ELEMENTOS HORIZONTALMENTE*/
.container{
    display: flex;
}
@media(max-width: 768px) { /*CAMBIOS PARA PANTALLAS PEQUEÑAS*/
    .container{
        flex-direction: column;
    }
    .primera{
        display: none;
        flex-direction: column;
    }
    .desplegable{
        display: block;
    }
    .primera.visible{
        display: flex;
        align-items: center;
    }
}

/*HEADER*/
header{
    display: flex;
    flex-direction: column;
}
.texto-header{
    text-align: center;
    color: var(--light);
}

/*SECCION SOBRE MI*/
.texto-sobreMi{
    width: 60%;
}
.miFoto{
    max-height: 318.4px;
}
@media(max-width: 768px) { /*CAMBIOS PARA PANTALLAS PEQUEÑAS*/
    .sobreMi{
        align-items: center;
    }
    .texto-sobreMi{
        width: 100%;
    }
}

/*SECCION PROYECTOS*/
.proyecto{
    color: var(--dark);
    text-align: center;
    padding: 1rem;
}
.imagen_proyecto{
    width: 10rem;
    margin: 0;
}
.herramientas{
    justify-content: center;
}
@media(max-width: 768px) { /*CAMBIO PARA PANTALLAS PEQUEÑAS*/
    .herramientas{
        flex-direction: row;
    }
}

/*SECCION EDUCACION*/
.educacion{
    padding-right: 2rem;
}

/*SECCION CURSOS*/
.curso{
    color: var(--dark);
}

/*MODULOS*/ 
.modulo { 
    display: none; 
    position: fixed; 
    z-index: 1001; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgb(0, 0, 0); 
    background-color: rgba(0, 0, 0, 0.4); 
} 
.modulo-contenido { 
    margin: 0 auto;
    width: 80%;
} 
.cerrar { 
    color: var(--light); 
    float: right; 
    font-size: 40px; 
    font-weight: bold; 
} 
.cerrar:hover, .cerrar:focus { 
    color: black; 
    text-decoration: none; 
    cursor: pointer; 
}

/*SECCION LENGUAJES*/
.lenguaje{
    align-items: end;
    width: 100%;
}
.lenguaje h3{
    margin-right: 1rem;
}

@media(max-width: 768px) {
    .lenguaje{
        align-items: start;
    }
}

/*FOOTER*/
.texto_footer{
    color: var(--light);
    justify-content: center;
    align-items: center;
}
.texto_footer p{
    margin-right: .5rem;
}
